#bunting
{
  background-image: url('./bunting.png');
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

#mission-statement
{
  max-height: 200px; /* FIXME */
  overflow-y: auto;
  margin: 5px;
  padding: 10px;
}

#mission-statement::-webkit-scrollbar
{
  width: 10px;
}

#mission-statement::-webkit-scrollbar-track
{
  border-radius: 5px;
  box-shadow: inset 0 0 6px var(--military-secondary);
  -webkit-box-shadow: inset 0 0 6px var(--military-secondary);
}

#mission-statement::-webkit-scrollbar-thumb
{
  border-radius: 5px;
  box-shadow: inset 0 0 6px var(--military-blank);
  -webkit-box-shadow: inset 0 0 6px var(--military-blank);
}

#donate
{
  background-color: var(--military-highlight);
  margin: 5px;
  padding: 10px;
}

#tax-deductible
{
  font-size: small;
}
