.competition
{
  margin: 20px;
}

.toggle-winners
{
  cursor: pointer;
  text-decoration: underline;
}

.winner-browser
{
  margin: 5px;
}

.winner-picture
{
  height: 200px;
}

.trophy
{
  height: 50px;
  cursor: pointer;
  padding-bottom: 7px;
}

.first.trophy
{
  fill: #AF9500;
}

.second.trophy
{
  fill: #B4B4B4;
}

.third.trophy
{
  fill: #AD8A56;
}

.trophy.open
{
  padding-bottom: 2px;
}

.year
{
  cursor: pointer;
  background-color: blue;
  margin: 8px;
}

.open
{
  border-bottom: 5px solid gray;
}

.winner-info
{
  margin: 7.5px;
}
