:root {
  --american-red: #FF0000;
  --american-white: #FFFFFF;
  --american-blue: #0000FF;
  --american-grey: #CECECE;
  --military-primary: #515547;
  --military-secondary: #34362D;
  --military-highlight: #FFFF00;
  --military-blank: #E5E5E5;

  --header-size: 7.5vh;
  --header-max: 20vw;
  --header-padding: 10px;
}

body {
  background-color: var(--military-primary);
  margin: 0;
  text-align: center;
  padding-bottom: var(--header-size);
  font-family: 'Raleway', sans-serif;
}

#app {
  width: 100%;
  height: 100%;
}

div {
  box-sizing: border-box;
}

button
{
  cursor: pointer;
  outline: none;
  box-shadow: none;
}

.contact-us
{
  display: block;
}

#map-to-jellystone
{
  height: 51vw;
  width: 68vw;
  max-height: 300px;
  max-width: 400px;
}

#website-by-jared
{
  display: block;
}
