:root {
  --american-red: #FF0000;
  --american-white: #FFFFFF;
  --american-blue: #0000FF;
  --american-grey: #CECECE;
  --military-primary: #515547;
  --military-secondary: #34362D;
  --military-highlight: #FFFF00;
  --military-blank: #E5E5E5;

  --header-size: 7.5vh;
  --header-padding: 10px;
}

body {
  margin: 0;
  text-align: center;
}

#app {
  width: 100%;
  height: 100%;
}

div {
  box-sizing: border-box;
}

.main-display
{
  max-width: 800px;
  margin: auto;
}

button
{
  cursor: pointer;
  outline: none;
  box-shadow: none;
}

.contact-us
{
  display: block;
}

#website-by-jared
{
  display: block;
}
