html {
  min-height: --webkit-fill-available;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Raleway', sans-serif;
}

:root {
  --american-red: #FF0000;
  --american-white: #FFFFFF;
  --american-blue: #0000FF;
  --american-grey: #CECECE;
  --military-primary: #515547;
  --military-secondary: #34362D;
  --military-highlight: #FFFF00;
  --military-blank: #E5E5E5;

  --header-size: 7.5vh;
  --header-padding: 10px;
}

#app {
  display: flex; 
  flex-direction: column;
  margin: 0;
  position: fixed;
  height: 100%;
  width: 100%;
}

header, footer {
  color: var(--military-blank);
  background-color: var(--military-primary);
  z-index: 5;
  max-height: 10vh;
}

main {
  flex: 1;
  overflow-y: scroll;
}

button {
  cursor: pointer;
  outline: none;
  box-shadow: none;
}

.contact-us {
  display: block;
}

iframe[src*="google.com/maps"] {
  height: 51vw;
  width: 68vw;
  max-height: 300px;
  max-width: 400px;
}

#website-by-jared {
  display: block;
}