#header
{
  background-color: var(--military-primary);
  width: 100%;
  height: var(--header-size);
  padding: var(--header-padding);
  max-height: var(--header-max);
  min-height: calc(var(--header-size) + (2 * var(--header-padding)));
  top: 0;
  z-index: 2;
  color: var(--military-blank);
  --animation-duration: 2000ms;
  transition: height var(--animation-duration);
  position: sticky;
  display: flex;
  justify-content: space-between;
}

#app[scroll='0'] #header
{
  height: calc(var(--header-size) * 5);
}

#a-major-funding-logo
{
  height: 100%;
  width: var(--header-size);
  transition: height var(--animation-duration),
              width var(--animation-duration);
}

#app[scroll='0'] #a-major-funding-logo
{
  width: calc(var(--header-size) * 5);
}

#logo
{
  height: 100%;
}
