header
{
  padding: var(--header-padding);
  max-height: 20vw;
  min-height: calc(var(--header-size) + (2 * var(--header-padding)));
  --animation-duration: 2000ms;
  transition: height var(--animation-duration);
  display: flex;
  justify-content: space-between;
}

#a-major-funding-logo
{
  height: 100%;
  width: var(--header-size);
  max-width: 50vw;
  transition: height var(--animation-duration),
              width var(--animation-duration);
}

